body{
    background: rgb(7,224,226);
background: linear-gradient(297deg, rgba(7,224,226,1) 51%, rgba(6,88,208,1) 89%);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.registro{
    width: 1200px;
    height: 580px;
    padding-top: 20px;
    background-color: whitesmoke;
    color: rgb(99, 28, 167);
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    
}

h3{
    text-align: center;
    background-color: aquamarine;
}
h4{
    text-align: center;
    background-color: aquamarine;
}

footer {
    background-color: #290e27; /* Color de fondo del footer */
    color: #fff;
    padding: 20px 0; 
    text-align: center;
    margin-top: 2rem;
        }

h2{
    text-align: center;
    }
    a{
        text-align: center;
    }
    
    .social{
        text-align: center;
    }
